div.box {
    width: 100%;
    height: inherit;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

div.feature div.box h2 {
    color: #DEE9F2;
    font-size: 1.6rem;
    font-family: 'Aller_Bd';
    padding: 10px;
    width: 1px;
}

@media (min-width: 768px) {
    div.box {
        display: flex;
        border-radius: 0 15px 15px 0;
        margin-left: -10px;
    }
    div.box article.example {
        align-self: center;
        margin-right: 15px;
    }
    div.boxs_slide .slide>div.carousel {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 2fr);
        border-radius: 0 0 15px 15px;
    }
    div.boxs_slide .slide>div.carousel div.carousel-item {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    div.box {
        display: flex;
        border-radius: 0 0 15px 15px;
        margin-left: 0;
    }
    div.box article.example img {
        width: 100%;
    }
    div.feature div.box h2 {
        width: auto;
    }
}